<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] | TechShare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <!--Jquery UI-->
    <link href="~/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <!-- Font Awesome CSS-->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom icon font-->
    <link rel="stylesheet" href="~/css/template/fontastic.css">
    <!-- Google fonts - Open Sans-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,700&display=swap&subset=vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/css/template/style.css">
    <!-- Custom stylesheet - for your changes-->
    <link href="~/css/Shared/common.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Shared/site.css">
    @RenderSection("Styles", required: false);
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico">
</head>
<body>
    <!--Header-->
    <header class="header">
        <!-- Main Navbar-->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <!-- Navbar Brand -->
                <div class="navbar-header d-flex align-items-center justify-content-between">
                    <a href="#" class="navbar-brand" id="logo-text">TechShare</a>
                </div>
                <!-- Navbar Menu -->
                <div id="navbarcollapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link active">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Manager" asp-action="Member" class="nav-link ">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Signin" class="nav-link">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Signup" class="nav-link ">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--Body-->
    <div class="container-fluid page-body">
        @RenderBody()
    </div>

    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="copyrights">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; @DateTime.Now.Year. All rights reserved. Your great site.</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            Template By <a href="https://bootstrapious.com/p/bootstrap-carousel" class="text-white">Bootstrapious</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript files-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>