<!-- Profile Image -->
<div class="card card-theme card-border">
    <div class="card-body box-profile">
        <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" src="~/content/img/avatar-2.jpg" alt="User profile picture">
        </div>
        <input type="hidden" name="UserID" value=@Model.Id id="user-id" />

        <h4 class="profile-username text-center">@Model.LastName @Model.FirstName</h4>

        <p class="text-muted text-center">@Model.Job</p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Biệt danh</b> <span class="float-right">@Model.UserName</span>
            </li>
            <li class="list-group-item">
                <b>Giới tính</b>
                @if (Model.Gender==0)
                {<span class="float-right">Nam</span>}
                else
                {<span class="float-right">Nữ</span>}
            </li>           
        </ul>       
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- About Me Box -->
<div class="card card-theme card-border">
    <div class="card-header">
        <h4 class="card-title">Về tôi</h4>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <strong><i class="fas fa-envelope mr-1"></i>Email</strong>

        <p class="text-muted">@Model.Email</p>

        <hr>

        <strong><i class="fas fa-phone mr-1"></i>SĐT</strong>

        <p class="text-muted">@Model.PhoneNumber</p>           

        <hr>

        <strong><i class="far fa-file mr-1"></i>Ghi chú</strong>

        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->                